

.mat-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
 color: rgb(20, 20, 20);
}

.mat-row{
  display:grid;
  justify-content: center;
    align-items: center;
    text-align: center;
  background-color: #f8f6f5;
  padding:15px 0px 15px;
}
.table-responsive {
  display: flex;
  flex-direction: column;

}

.mat-table {
  overflow: auto;

}


.mobile-label {
  display: none;
}

.my-row {
  background-color: #f8f6f5;
}

.my-row__alternate {
  background-color: #ffffff;
}



.paginator {
  background-color: white;
  font-size: 14px;
  display: block;
  width: 100%;
  color: black;
  font-weight: 2px;
}

@media(min-width: 650px){
  .mat-cell-element{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .buttons-table{
    width: 200px;
  }

}

@media(max-width: 650px){
  .mobile-label {
    width: 100px;
    display: inline-grid;
    font-weight: bold;
    align-items:start;
  }

  .mat-header-row {
    display: none;
  }

  .my-row{
    flex-direction: column;
    align-items: center;
  }

  .mat-mdc-cell{
    padding: 0px 16px;
  }


}


