<div class="table-responsive mat-elevation-z8">
  <mat-divider></mat-divider>
  <mat-table  #table [dataSource]="data" class="mat-table">
    <ng-container *ngFor="let column of propertyColumns; index as i" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef class="mat-header-cell">
        <mat-checkbox *ngIf="column==='select'" (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()" (click)="toggleAllNoRows()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
        {{ headerColumnsName[i] | HeaderTable }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-cell-element">
        <span class="mobile-label">{{ headerColumnsName[i] | HeaderTable }}</span>
        {{getValue(element,column)}}
        <app-button-group-row class="buttons-table" *ngIf="column==='actions' && useUrl" [useUrl]="useUrl" [nameUrl]="nameComponent"
          [id]="element.id" [showButtons]="showButtonsTable">
        </app-button-group-row>
        <app-button-group-row class="buttons-table" *ngIf="column==='actions' && useUrl==false" (catchAction)="typeAction($event,element)"
          [useUrl]="useUrl" [showButtons]="showButtonsTable">
        </app-button-group-row>
        <mat-checkbox *ngIf="column==='select'" (click)="getSelected($event)"
          (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)"
          [aria-label]="checkboxLabel(element)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="propertyColumns" class="mat-header-row"></mat-header-row>

    <mat-row *matRowDef="let row; columns: propertyColumns; let i=index" class="my-row"
      [class.my-row__alternate]="i % 2">

    </mat-row>
    <tr class="mat-row " *matNoDataRow>
      <td *ngIf="useUrl" class="mat-cell" colspan="4">No hay datos que coincidan con la busqueda
        {{valueSearchTable}}</td>
        <td *ngIf="useUrl==false" class="mat-cell" colspan="4">No hay datos</td>
    </tr>
  </mat-table>
  <mat-divider></mat-divider>
  <mat-paginator #allPaginator="matPaginator" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
    aria-label="Select page" class=" paginator">
  </mat-paginator>
</div>
