<form [formGroup]="miFormulario " class="row">
  <div *ngIf="viewName==='view'" class="col-xs-10 col-sm-12 col-md-12 mb-3">
    <h3 class="mb-0">Detalle de empleado</h3>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xs-10 col-sm-12 col-md-6 my-1">
            <div class="row g-2 justify-content-center">
              <label for="inputEmail3" class="col-sm-4 col-form-label">Nombre</label>
              <div class="col-sm-7">
                <input type="text" name="nameEmployee" class="form-control" formControlName="nameEmployee" id="inputEmail3" placeholder="Ingresa el nombre">
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-sm-12 col-md-6 my-1 ">
            <div class="row g-2 justify-content-center">
              <label for="inputEmail3" class="col-sm-4 col-form-label">Apellido</label>
              <div class="col-sm-7">
                <input type="text"  class="form-control" formControlName="surnameEmployee" id="inputEmail3"
                  placeholder="Ingresa el apellido">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="objShowComponents['showExpensesComponent']" class="col-xs-10 col-sm-12 col-md-12 mb-3">
    <h3 class="mb-0">Detalle Gasto</h3>
    <div class="card">
      <div class="card-body">
        <mat-stepper [linear]="true" #stepper (selectionChange)="changeStep($event)">
          <mat-step [stepControl]="firstFormGroup" color="accent" label="Selecciona la materia prima" state="step1">
            <div class="container">
              <div class="col-xs-12 col-sm-12 col-md-12 mt-4 mb-4">
                <app-table [propertyColumns]="propertyExpenses" [headerColumnsName]="listHeaderTableExpenses"
                  [data]="dataSourceExpenses" [useUrl]="false" [pageSizeOptions]="pageSizeOptions"
                  [showButtonsTable]="showButtonTableExpense" [selection]="selectionExpenses"
                  (getElementsSelected)="getExpensesSelected($event)" (action)="actionExpenseDetail($event)">
                </app-table>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 d-flex justify-content-end ">
                <button mat-raised-button matStepperNext class="btn btn-step"
                  (click)="findeExpensesProductsAvalaibles()" [disabled]="firstFormGroup.invalid">
                  <mat-icon>keyboard_arrow_right</mat-icon>Siguiente
                </button>
              </div>
            </div>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" color="accent" label="Selecciona los productos" state="step2">
            <div class="container">
              <div class="col-xs-12 col-sm-12 col-md-12 mt-4 mb-4">
                <app-table [propertyColumns]="propertyProductsAvalaibles"
                  [headerColumnsName]="listHeaderTableProductsAvalaibles" [data]="dataSourceProductsAvalaibles"
                  [useUrl]="false" [pageSizeOptions]="pageSizeOptions" [selection]="selectionProductsAvalaibles"
                  (getElementsSelected)="getProductsSelected($event)"></app-table>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-xs-10 col-sm-12 col-md-6">
                    <div class="d-flex justify-content-start">
                      <button mat-raised-button matStepperPrevious class="btn-step">
                        <mat-icon>keyboard_arrow_left</mat-icon>Volver
                      </button>
                    </div>
                  </div>
                  <div class="col-xs-10 col-sm-12 col-md-6">
                    <div class="d-flex justify-content-end">
                      <button mat-raised-button matStepperNext class="btn btn-step"
                        [disabled]="secondFormGroup.invalid">
                        <mat-icon>keyboard_arrow_right</mat-icon>Siguiente
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup" color="accent" label="Ingresa la cantidad de cada producto"
            state="step3">
            <form [formGroup]="thirdFormGroup">
              <div *ngIf="updateStep3" class="container mt-4 mb-4" [formArrayName]="'formArrayProductsSelected'">
                <div class="col-xs-10 col-sm-12 col-md-12 mb-4"
                  *ngFor="let product of productsExpensesSelected; let index=index">
                  <div class="row" [formGroupName]="index">
                    <div class="col-xs-10 col-sm-12 col-md-4 mb-2">
                      <label for="inputEmail4" class="form-label">Nombre del Gasto</label>
                      <input formControlName="nameExpense" type="text" class="form-control" id="{{product.nameExpense}}"
                        value="{{product.nameExpense}}">
                    </div>
                    <div class="col-xs-10 col-sm-12 col-md-2 mb-2">
                      <label for="inputEmail4" class="form-label">Nombre producto</label>
                      <input formControlName="name" type="text" class="form-control" id="{{product.name}}"
                        value="{{product.name}}">
                    </div>
                    <div class="col-xs-10 col-sm-12 col-md-2 mb-2">
                      <label for="inputEmail4" class="form-label">Cantidad disponible</label>
                      <input formControlName="amountAvalaible" type="text" class="form-control"
                        id="{{product.amountAvalaible}}" value="{{product.amountAvalaible}}">
                    </div>
                    <div class="col-xs-10 col-sm-12 col-md-4 mb-2">
                      <label for="inputEmail4" class="form-label">Cantidad </label>
                      <input type="number"
                        [class.is-invalid]="validateField.noValidField('amount',formGroupProduct(index))"
                        formControlName="amount" value="" class="form-control" id="amount"
                        placeholder="Ingrese la cantidad a utilizar(unidad)">
                      <div class="invalid-feedback">
                        {{ validateField.errorMsgField('amount','La cantidad',formGroupProduct(index))}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="row">
                    <div class="col-xs-10 col-sm-12 col-md-6 d-flex justify-content-start">
                      <button mat-raised-button matStepperPrevious class="btn-step">
                        <mat-icon>keyboard_arrow_left</mat-icon>Volver
                      </button>
                    </div>
                    <div class="col-xs-10 col-sm-12 col-md-6  d-flex justify-content-end">
                      <button mat-raised-button matStepperNext class="btn btn-step" (click)="addDetailsManufactures()"
                        [disabled]="this.thirdFormGroup.get('formArrayProductsSelected')?.invalid">
                        <mat-icon>add_box</mat-icon>Agregar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
  <div *ngIf="objShowComponents['showDetailsManufacturesTable']" class="col-xs-10 col-sm-12 col-md-12 mb-4">
    <h3 class="mb-0">Detalles de manufacturación en producción</h3>
    <div class="card">
      <div class="card-body">
        <app-table (action)="actionDetailManufacture($event)" [propertyColumns]="propertyDetailsManufactures"
          [headerColumnsName]="listHeaderTableDetailsManufactures" [data]="dataSourceDetailsManufactures"
          [useUrl]="false" [pageSizeOptions]="pageSizeOptionsDetails" [showButtonsTable]="showButtonTable">
        </app-table>
        <div *ngIf="viewName==='create'" class="col-md-12 mt-2">
          <div class="d-flex justify-content-end">
            <button mat-raised-button matTooltip="Volver a escoger la materia prima"
              (click)="resetDetailsManufacture()" class="btn-step">
              <mat-icon>keyboard_arrow_left</mat-icon>Volver
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="objShowComponents['showlostComponents']" class="col-xs-10 col-sm-12 col-md-12 mb-4">
    <h3 class="mb-0">Perdidas en el proceso de manufacturación</h3>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formGroupProductLost">
          <div class="container mt-4 mb-4" [formArrayName]="'formArrayProductsLosted'">
            <div class="col-xs-10 col-sm-12 col-md-12 mb-4"
              *ngFor="let detailManufacture of details_Manufactures_process; let index=index">
              <div class="row" [formGroupName]="index">
                <div class="col-xs-10 col-sm-12 col-md-4 mb-2">
                  <label for="inputEmail4" class="form-label">Nombre del Producto</label>
                  <input formControlName="nameProduct" type="text" class="form-control"
                    id="{{detailManufacture.nameProduct}}" value="{{detailManufacture.nameProduct}}">
                </div>
                <div class="col-xs-10 col-sm-12 col-md-4 mb-2">
                  <label for="inputEmail4" class="form-label">Cantidad Usada (kg)</label>
                  <input formControlName="amount" type="text" class="form-control" id="{{detailManufacture.amount}}"
                    value="{{detailManufacture.amount}}">
                </div>
                <div class="col-xs-10 col-sm-12 col-md-4 mb-2">
                  <label for="inputEmail4" class="form-label">Cantidad perdida (kg)</label>
                  <input type="number"
                    [class.is-invalid]="validateField.noValidField('amountLost',formGroupManufactureProductLost(index))"
                    formControlName="amountLost" value="" class="form-control" id="amountLost"
                    placeholder="ingrese la cantidad que desea utilizar">
                  <div class="invalid-feedback">
                    {{ validateField.errorMsgField('amountLost','La cantidad',formGroupManufactureProductLost(index))}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="objShowComponents['showPorductsMakedComponent'] && products.length > 0" class="col-xs-10 col-sm-12 col-md-12 mb-4">
    <h3 class="mb-0">Productos manufacturados</h3>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formGroupProductManufacture">
          <div class="container mt-4 mb-4" [formArrayName]="'formArrayProductsMaked'">
            <div class="col-xs-10 col-sm-12 col-md-12 mb-4"
              *ngFor="let product of products; let index=index">
              <div class="row" [formGroupName]="index">
                <div class="col-xs-10 col-sm-12 col-md-4 mb-2">
                  <label for="inputEmail4" class="form-label">Nombre del Producto</label>
                  <input formControlName="nameProduct" type="text" class="form-control"
                    id="{{product.name}}" value="{{product.name}}">
                </div>
                <div class="col-xs-10 col-sm-12 col-md-4 mb-2">
                  <label for="inputEmail4" class="form-label">Cantidad unitaria(Unidad)</label>
                  <input formControlName="amount" type="text" class="form-control" id="{{product.amount}}"
                    value="{{product.amount}}">
                </div>
                <div class="col-xs-10 col-sm-12 col-md-4 mb-2">
                  <label for="inputEmail4" class="form-label">Cantidad manufacturada(Unidad)</label>
                  <input type="number"
                    [class.is-invalid]="validateField.noValidField('amountMaked',formGroupManufactureProductMaked(index))"
                    formControlName="amountMaked" value="" class="form-control" id="amountMaked"
                    placeholder="Ingrese la cantidad que desea utilizar">
                  <div class="invalid-feedback">
                    {{ validateField.errorMsgField('amountMaked','La cantidad',formGroupManufactureProductMaked(index))}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-sm-12 col-md-12 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="row  justify-content-end ">
          <div class="col-xs-10 col-sm-12 col-md-6">
            <div class="row g-2 justify-content-center mb-1 mt-1">
              <label for="inputEmail3" class="col-sm-4 col-form-label">Fecha</label>
              <div class="col-sm-7">
                <input type="text" class="form-control text-center" formControlName="date">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="objShowComponents['showActionsComponents']" fxLayout class="col-xs-10 col-sm-12 col-md-12 d-flex justify-content-between">
    <button mat-raised-button color="accent" class="btn" [ngClass]="viewName"
      [disabled]="formGroupProductLost.invalid || formGroupProductManufacture.invalid" (click)="save()">
      <mat-icon>save</mat-icon>
      {{ viewName | NameButton }}
    </button>
    <button mat-raised-button color="warn" class="btn" (click)="cancel()">
      <mat-icon>highlight_off</mat-icon>
      Cancelar
    </button>
  </div>
</form>
