<form [formGroup]="miFormulario" class="row  " name="formEmployee">
  <div class="col-xs-10 col-sm-12 col-md-4 mb-3">
    <div class="row g-2 justify-content-center">
      <div class="col-xs-10 col-sm-12 col-md-10">
        <div class="row g-2 justify-content-center">
          <img [src]="miFormulario.controls['alterImg'].value | imagen" class="img-thumbnail imgUser mb-2" alt="img">
        </div>
      </div>
      <div class="col-xs-10 col-sm-12 col-md-10 mb-3">
        <input *ngIf="viewName!='view'" type="file" class="form-control" accept=".jpg,.png"
          (change)="GetFileOnLoad($event)" />
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-sm-12 col-md-8">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Cedula</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" formControlName="id" name="id" placeholder="Ingrese el numero de identificación"
          [class.is-invalid]="validateField.noValidField('id',miFormulario)">
        <div class="invalid-feedback">
          {{ validateField.errorMsgField('id','La Identificación',miFormulario)}}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Nombre</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" formControlName="name" name="name" placeholder="Ingrese el nombre"
          [class.is-invalid]="validateField.noValidField('name',miFormulario)">
        <div class="invalid-feedback">
          {{ validateField.errorMsgField('name','El nombre',miFormulario)}}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Apellido</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" formControlName="surname" name="surname" placeholder="Ingrese el apellido"
          [class.is-invalid]="validateField.noValidField('surname',miFormulario)">
        <div class="invalid-feedback">
          {{ validateField.errorMsgField('surname','El apellido',miFormulario)}}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Telefono</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" formControlName="phoneNumber" name="phoneNumber" placeholder="Ingrese el telefono"
          [class.is-invalid]="validateField.noValidField('phoneNumber',miFormulario)">
        <div class="invalid-feedback">
          {{ validateField.errorMsgField('phoneNumber','El telefono',miFormulario)}}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Dirección</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" formControlName="adress" name="adress" placeholder="Ingrese la direccción"
          [class.is-invalid]="validateField.noValidField('adress',miFormulario)">
        <div class="invalid-feedback">
          {{ validateField.errorMsgField('adress','La dirección',miFormulario)}}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Correo Electrónico</label>
      <div class="col-sm-7">
        <input type="email" class="form-control" formControlName="email" name="email" placeholder="Ingrese el correo electrónico"
          [class.is-invalid]="validateField.noValidField('email',miFormulario)">
        <div class="invalid-feedback">
          {{ validateField.errorMsgField('email','El correo',miFormulario)}}
        </div>
      </div>
    </div>
    <div *ngIf="showComponents" class="row mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Contraseña</label>
      <div class="col-sm-7 ">
        <div class="password">
          <input [type]="hidePassword ? 'password':'text'" class="form-control" formControlName="password" placeholder="Ingrese la contraseña"
            name="password" [class.is-invalid]="validateField.noValidField('password',miFormulario)">
          <mat-icon *ngIf="!validateField.noValidField('password',miFormulario)" class="icon-password"
            (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">{{hidePassword ? 'visibility_off'
            : 'visibility'}}
          </mat-icon>
          <div class="invalid-feedback">
            {{ validateField.errorMsgField('password','La contraseña',miFormulario)}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showComponents" class="row mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Confirmar contraseña</label>
      <div class="col-sm-7">
        <div class="password">
          <input [type]="hideConfirmPassword ? 'password':'text'" class="form-control" formControlName="confirmPassword" placeholder="Confirme la contraseña"
            [class.is-invalid]="validateField.noValidField('confirmPassword',miFormulario)">
          <mat-icon *ngIf="!validateField.noValidField('confirmPassword',miFormulario)" class="icon-password"
            (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-pressed]="hideConfirmPassword">
            {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <div class="invalid-feedback">
            {{ validateField.errorMsgField('confirmPassword','La confirmación ',miFormulario)}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showComponents"
    class="col-xs-10 col-sm-12 col-md-12  d-flex flex-column flex-sm-row justify-content-between">
    <button mat-raised-button (click)="guardar()" class="btn my-2" color="accent" [ngClass]="viewName"
      [disabled]="miFormulario.invalid">
      <mat-icon>check_circle_outline</mat-icon>
      {{ viewName | NameButton }}
    </button>
    <button mat-raised-button color="warn" class="btn my-2" (click)="cancelar()">
      <mat-icon>highlight_off</mat-icon>
      Cancelar
    </button>
  </div>
</form>
