.col-form-label{
  color:#444346;
  font-size:15px;
  font-weight:450;
}

img{
  max-width: 100%;
  max-height:auto;
  border-radius: 15px;
;
}
h1{
  font-size: 30px;
}
.text-admin{
  text-transform: capitalize;
}
p a{
  cursor: default;
  color:#03A9F4;
}
.change-img{
  cursor:pointer;
}
.select-image{
  color:#444346;
  font-size:15px;
  font-weight:450;
}
.btn-primary{
  max-height: 5em;
}

p a:hover{
  cursor: default;
  color:#03A9F4;
}
.btn-update{
  background:#673AB7;
  color:white;
}

.imgUser{
  position:relative;
  display:inline-block;

}

.icon-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

