<form class="row  justify-content-center" [formGroup]="miFormulario" name="formUser">
  <div class="col-xs-10 col-sm-12 col-md-10">
    <div class="row g-2 d-flex align-items-center">
      <div class="col-xs-10 col-sm-12 col-md-3 mb-4">
        <div class="row ">
          <div class="col-xs-10 col-sm-12 col-md-8 mb-2">
            <div class="row d-flex justify-content-center">
                <img [src]="miFormulario.controls['alterImg'].value | imagenUser" alt="avatar" (click)="changeImage()"
                  [ngClass]="{'change-img':showComponents}" >

              <div *ngIf="showComponents" class="col-xs-10 col-sm-12 col-md-12 text-center">
                <p class="select-image">selecciona la imagen</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-10 col-sm-12 col-md-6 mb-4">
        <h1 class="mb-1">
          {{ user.name +' '+ user.surname}}
        </h1>
        <p class="text-admin mb-1"> <a>{{ user.email }}</a> - {{ user.rol }}</p>
        <p class="dense-2">si deseas editar los datos, selecciona el boton <button *ngIf="showButtonEdit"
            class="btn-update" mat-raised-button (click)="edit()">editar</button> </p>
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-sm-12 col-md-10">
    <div class="row">
      <h2>Cuenta</h2>
    </div>
    <div class="row g-2 mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Nombre</label>
      <div class="col-sm-7">
        <input type="text" name="name" class="form-control" formControlName="name" id="inputEmail3" placeholder="Ingresa el nombre">
      </div>
    </div>
    <div class="row g-2 mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Apellido</label>
      <div class="col-sm-7">
        <input type="text"  class="form-control" formControlName="surname" id="inputEmail3"
          placeholder="Ingresa el apellido">
      </div>
    </div>
    <div class="row g-2 mb-3">
      <label for="inputEmail3"  class="col-sm-5 col-form-label">Telefono</label>
      <div class="col-sm-7">
        <input type="number" name="phoneNumber" class="form-control" formControlName="phoneNumber" id="inputEmail3"
          placeholder="Ingresa el telefono">
      </div>
    </div>
    <div class="row g-2 mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Dirección</label>
      <div class="col-sm-7">
        <input type="text" name="adress" class="form-control" formControlName="adress" id="inputEmail3"
          placeholder="Ingresa la dirección">
      </div>
    </div>
    <div class="row g-2 mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Correo</label>
      <div class="col-sm-7">
        <input type="email" class="form-control" formControlName="email" id="inputEmail3"
          placeholder="Ingresa el Correo">
      </div>
    </div>
    <div *ngIf="showComponents" class="row g-2 mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Contraseña</label>
      <div class="col-sm-7">
        <input type="password" name="password" class="form-control" formControlName="password" id="inputEmail3"
          placeholder="Ingresa la contraseña">
      </div>
    </div>
    <div *ngIf="showComponents" class="row g-2 mb-3">
      <label for="inputEmail3" class="col-sm-5 col-form-label">Confirmar contraseña</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" formControlName="confirmPassword" id="inputEmail3"
          placeholder="Confirma la contraseña">
      </div>
    </div>
  </div>
  <div *ngIf="showComponents" class="col-xs-10 col-sm-12 col-md-10 d-flex flex-column flex-sm-row justify-content-between">

        <button mat-raised-button (click)="save()" class="btn btn-update my-2" accent="primary" [ngClass]="viewName"
          [disabled]="miFormulario.invalid">
          <mat-icon>check_circle_outline</mat-icon>
          {{ viewName | NameButton }}
        </button>

        <button mat-raised-button color="warn" class="btn my-2" (click)="cancel()">
          <mat-icon>highlight_off</mat-icon>
          Cancelar
        </button>

  </div>
</form>
