<footer class="bg text-center ">

  <div class="container p-4 pb-0">

    <section class="mb-4">

      <a class="btn btn-outline btn-floating m-1" href="https://www.facebook.com/profile.php?id=100090345553982" role="button"><i class="fab fa-facebook-f"></i></a>


      <a class="btn btn-outline btn-floating m-1" href="https://twitter.com/caferosita30?t=bFwQWI-itchkxIDpZ6efvQ&s=09" role="button"><i class="fab fa-twitter"></i></a>


      <a class="btn btn-outline btn-floating m-1" href="https://instagram.com/caferositadecampo?igshid=NTc4MTIwNjQ2YQ==" role="button"><i class="fab fa-instagram"></i></a>

      <a href="http://jigsaw.w3.org/css-validator/check/referer" class="btn btn-outline btn-floating m-1">
        <img style="border:0;width:90px;height:41px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="¡CSS Válido!" />
      </a>

    </section>
  </div>
  <div class="text-center p-2" style="background-color:  rgb(145, 80, 64); color:white;">
    © 3187957182 - 3004873227 <br>
    cafedecamporosita&#64;gmail.com

  </div>
</footer>
