<form [formGroup]="miFormulario" class="row g-3">
  <div class="col-xs-10 col-sm-12 col-md-12  mb-3">
    <div class="row">
      <div class="col-xs-10 col-sm-12 col-md-6  mb-3">
        <div class="row">
          <div class="col-xs-10 col-sm-12 col-md-11 mb-3">
            <label for="inputEmail3" class="form-label">Nombre </label>
            <input type="text" class="form-control" formControlName="name"
              [class.is-invalid]="validateField.noValidField('name',miFormulario)"
              placeholder="Ingresa el nombre del proveedor">
            <div class="invalid-feedback">
              {{ validateField.errorMsgField('name','El nombre',miFormulario)}}
            </div>

          </div>
          <div class="col-xs-10 col-sm-12 col-md-11 mb-3">
            <label for="inputEmail3" class="form-label">Dirección </label>
            <input type="text" class="form-control" formControlName="adress"
              [class.is-invalid]="validateField.noValidField('adress',miFormulario)"
              placeholder="Ingresa la dirección del proveedor">
            <div class="invalid-feedback">
              {{ validateField.errorMsgField('adress','La dirección',miFormulario)}}
            </div>
          </div>
          <div class="col-xs-10 col-sm-12 col-md-11 mb-3 ">
            <label for="inputEmail3" class="form-label">Telefono </label>
            <input type="number" class="form-control" formControlName="phoneNumber"
              [class.is-invalid]="validateField.noValidField('phoneNumber',miFormulario)"
              placeholder="Ingresa el telefono del proveedor">
            <div class="invalid-feedback">
              {{ validateField.errorMsgField('phoneNumber','El numero de telefono',miFormulario) }}
            </div>
          </div>
          <div class="col-xs-10 col-sm-12 col-md-11 ">
            <div *ngIf="showComponents" fxFlex="100" fxLayout.xs="column"
              class="d-grid justify-content-end mb-4 dense-1">
              <button mat-mini-fab matTooltip="Crear producto" (click)="openDialog()" class="btn-add-product">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-sm-12 col-md-6 mb-3">
        <app-table *ngIf="dataSource.data.length > 0" (action)="actionProduct($event)"
          [propertyColumns]="propertyProducts" [headerColumnsName]="listHeaderTableProducts" [data]="dataSource"
          [useUrl]="false" [pageSizeOptions]="pageSizeOptions" [showButtonsTable]="showButtonTable"></app-table>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="showComponents" class="col-xs-10 col-sm-12 col-md-12 d-flex  flex-column flex-sm-row justify-content-between mb-3">
        <button mat-raised-button color="accent"  class="btn my-2" [ngClass]="viewName" (click)="guardar()"
          [disabled]="miFormulario.invalid || products.length < 1">
          <mat-icon>check_circle_outline</mat-icon>
          {{ viewName | NameButton }}
        </button>
        <button mat-raised-button color="warn" class="btn my-2" (click)="cancelar()">
          <mat-icon>highlight_off</mat-icon>
          Cancelar
        </button>
  </div>
</form>
