<div class="example-button-row">
  <button *ngIf="showButtons.viewButton" mat-icon-button matTooltip="ver" color="accent" aria-label="Example icon-button with a heart icon" class="btn-left"
    (click)="action('ver')">
    <mat-icon>visibility</mat-icon>
  </button>
  <button *ngIf="showButtons.updateButton" mat-icon-button matTooltip="Editar"  class="btn-center" (click)="action('editar')"
    aria-label="Example icon-button with a heart icon">
    <mat-icon>mode_edit</mat-icon>
  </button>
  <button *ngIf="showButtons.deleteButton" mat-icon-button matTooltip="Eliminar" color="warn" class="btn-right" (click)="action('eliminar')"
    aria-label="Example icon-button with a heart icon">
    <mat-icon>delete</mat-icon>
  </button>
</div>
