<form [formGroup]="miFormulario" class="row g-2" name="formProduct">
  <div class="col-xs-10 col-sm-12 col-md-12 mb-3 ">
    <div class="row g-2">
      <div class="col-xs-10 col-sm-12 col-md-6 mb-3 ">
        <div class="row">
          <div class="col-xs-10 col-sm-12 col-md-11 mb-3">

              <label for="inputEmail3" class="form-label">Nombre </label>
              <input matTooltip="Crear producto" type="text" class="form-control " name="name" formControlName="name"
                [class.is-invalid]="mainClass.noValidField('name',miFormulario)"
                placeholder="Ingresa el nombre del proveedor">
              <div class="invalid-feedback">
                {{ mainClass.errorMsgField('name','El nombre',miFormulario)}}
              </div>

          </div>
          <div class="col-xs-10 col-sm-12 col-md-11 mb-3">
            <label for="inputEmail3" class="form-label">Descripción </label>
            <textarea class="form-control" formControlName="description"
              placeholder="ingresa la descripción del producto" name="description" id="exampleFormControlTextarea1"
              rows="3" [class.is-invalid]="mainClass.noValidField('description',miFormulario)"></textarea>
            <div class="invalid-feedback">
              {{ mainClass.errorMsgField('description','La descripción',miFormulario)}}
            </div>
          </div>
          <div class="col-xs-10 col-sm-12 col-md-11 mb-3">
            <label for="inputEmail3" class="form-label">Cantidad </label>
            <input type="number" class="form-control" name="amount" formControlName="amount"
              [class.is-invalid]="mainClass.noValidField('amount',miFormulario)"
              placeholder="Ingresa la cantidad del proveedor">
            <div class="invalid-feedback">
              {{ mainClass.errorMsgField('amount','La cantidad',miFormulario)}}
            </div>
          </div>
          <div class="col-xs-10 col-sm-12 col-md-11 mb-3">
            <label for="inputEmail3" class="form-label">precio </label>
            <input type="number" class="form-control" name="price" formControlName="price"
              [class.is-invalid]="mainClass.noValidField('price',miFormulario)"
              placeholder="Ingresa el precio del producto">
            <div class="invalid-feedback">
              {{ mainClass.errorMsgField('price','El precio',miFormulario) }}
            </div>
          </div>
          <div *ngIf="viewName!='view'" class="col-xs-10 col-sm-12 col-md-11 mb-3">
            <label for="inputEmail3" class="form-label">Imagen </label>
            <input  type="file" class="form-control" accept=".jpg,.png"
              (change)="GetFileOnLoad($event)" />
          </div>
          <div *ngIf="viewName!='view'" class="col-xs-10 col-sm-12 col-md-11 mb-3">
            <label for="inputEmail3" class="form-label">Imagenes </label>
            <input  type="file" multiple class="form-control" accept=".jpg,.png"
              (change)="GetFilesOnLoad($event)" />
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-sm-12 col-md-6 ">
        <div class="row">
          <div class="col-xs-10 col-sm-12 col-md-4 v-100 my-3 d-flex align-items-center">
            <mat-card class="card-image">
              <img mat-card-image class="img card-img-top" *ngIf="showIMageSelect"
                [src]="miFormulario.controls.alterImg.value | imagen">
              <mat-card-content>
                <mat-card-subtitle class="text-center">Imagen Principal</mat-card-subtitle>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-xs-10 col-sm-12 col-md-8 v-100 my-3">
            <mat-card class="d-flex align-items-center gy-2 card-images">
              <div class="container">
                <div class="row ">
                  <div *ngFor="let item of imagesSelected"
                    class="col-xs-4 col-sm-4 col-md-4 d-flex align-items-center gy-2 mb-2">
                    <img class="img-thumbnail h-100" [src]=" item |imagen">
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="showButtons" fxLayout class="col-xs-10 col-sm-12 col-md-12 d-flex flex-column flex-sm-row justify-content-between">

      <button mat-raised-button class="btn my-2" (click)="guardar()" color="accent" [ngClass]="viewName"
        [disabled]="miFormulario.invalid ">
        <mat-icon>check_circle_outline</mat-icon>
        {{ viewName | NameButton }}
      </button>


      <button mat-raised-button class="btn my-2" color="warn" (click)="cancelar()">
        <mat-icon>highlight_off</mat-icon>
        Cancelar
      </button>

  </div>

</form>
