.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  position: relative;
  display:grid;
  padding: 2.5em 2em;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px maroon;
  text-align: center;
}

.form-title {
  color:  rgb(145, 80, 64);
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.form-container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.form-group {
  margin-bottom: 0.5em;
  position: relative;
  --color: #5757577e;
}
.form-container .exception{
  grid-column: 1 / 3;
}
.form-input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}

.form-submit {
  background-color: rgb(145, 80, 64);
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em;
  cursor: pointer;
}

.text-danger {
  position: absolute;
  left:0;
  top:100%;
  color: red;
  font-size: 0.8rem;
}

.form-line{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height:1.5px;
  background-color: rgb(145, 80, 64);
  transform: scale(0);
  transform: left bottom;
  transition: transform .6s;
}

.form-input:focus ~ .form-line{
  transform: scale(1);
}

.invalid-line{
  background-color:red;
  transform: scale(0);
  transform: left bottom;
  transition: transform .6s
}

.form-input:focus ~ .invalid-line{
  transform: scale(1);
}

.form-check-label{
  margin-left: 5px;
  font-weight: 400;
  color: maroon;
}
