
  <div class="row mt-4 justify-content-center"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 mb-3">
      <div class="row justify-content-center">
        <mat-card class="example-card">
          <mat-card-header class="justify-content-center">
            <mat-card-title>Ganancias y Pérdidas</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="mx-auto d-block statistic-image" src="assets/Ganancias.jpeg" style="max-width: 100%; height: auto;">
          <mat-card-actions class="d-grid gap-2 col-6 mx-auto">
            <button mat-raised-button (click)="navigateUrl('ganancias-perdidas')" class="mt-2 mb-2">Ingresar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mb-3">
      <div class="row justify-content-center">
        <mat-card class="example-card">
          <mat-card-header class="justify-content-center">
            <mat-card-title>Total de Ventas</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="mx-auto d-block statistic-image" src="assets/amoung.png" style="max-width: 100%; height: auto;">
          <mat-card-actions class="d-grid gap-2 col-6 mx-auto">
            <button mat-raised-button (click)="navigateUrl('total-ventas')" class="mt-2 mb-2">Ingresar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
 
    <!-- <div class="col-xs-12 col-sm-12 col-md-3 mb-3">
      <mat-card class="example-card">
        <mat-card-header class="justify-content-center">
          <mat-card-title>Productos Más Vendidos</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="mx-auto d-block statistic-image" src="assets/vendidos.png">
        <mat-card-actions class="d-grid gap-2 col-6 mx-auto">
          <button mat-raised-button (click)="navigateUrl('productos-vendidos')" class="mt-2 mb-2">Ingresar</button>
        </mat-card-actions>
      </mat-card> -->
    

