.cart-tab{
  min-height:50vh;
}

::ng-deep .mat-step-header {
  pointer-events: none !important;
}

.btn-products{
  background-color:  rgb(145, 80, 64);
  color:white
}

.info{
  font-size:16px;
}

.btn-step{
  background-color:#546E7A;
  color: white;
}
