.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.password{
  display:inline-block;
  position:relative;
  width: 100%;
}

.icon-password{
  color:rgb(145, 80, 64);
  position:absolute;
  top:6px;
  right:15px;
  cursor:pointer;
}

.form {
  background-color: white;
  position: relative;
  display:grid;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px maroon;
  text-align: center;
}

.form-title {
  color:  rgb(145, 80, 64);
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.form-paragraph {
  font-weight: 300;
}

.form-link {
  font-weight: 400;
  color: maroon;
}

.form-container {
  margin-top: 3em;
  display: grid;
  gap: 2em;
}

.form-group {
  margin-bottom: 0.5em;
  position: relative;
  --color: #5757577e;
}

.form-input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}

.form-submit {
  background-color:rgb(145, 80, 64);
  color: white;
  font-weight: 300;
 font-size: max(1em, 12px);
  padding: .8em 0;
  border: none;
  border-radius: .5em;
  cursor: pointer;
}

.form-line{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height:1.5px;
  background-color: rgb(145, 80, 64);
  transform: scale(0);
  transform: left bottom;
  transition: transform .6s;
}

.form-input:focus ~ .form-line{
  transform: scale(1);
}

.text-danger {
  position: absolute;
  left:0;
  top:100%;
  color: red;
}

.invalid-line{
  background-color:red;
  transform: scale(0);
  transform: left bottom;
  transition: transform .6s
}

.form-input:focus ~ .invalid-line{
  transform: scale(1);
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(145, 80, 64);
  color: white;
  padding: 0.8em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: max(1em, 12px);
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.3s;
}

.google-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-btn:hover {
  background-color: #357ae8;
}
